<div class="content">
  <div class="row row-body">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nombre del animal</h5>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
              <img src="../../../assets/image-unknow.jpeg" class="img-fluid image">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                  <b>Raza: </b>
                  <span>raza</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                  <b>Edad: </b>
                  <span>edad</span>
                </div>
              </div>
              <div class="row row-padding">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                  <b>Peso: </b>
                  <span>peso</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                  <b>Tamaño: </b>
                  <span>tamaño</span>
                </div>
              </div>
              <div class="row row-padding">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                  <span class="badge badge-danger">Urgente</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                  <span class="badge badge-warning">Invisible</span>
                </div>
              </div>
              <div class="row row-padding">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                  <span class="badge badge-success">Adoptado</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                  <span class="badge badge-info">Reservado</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>