<div class="content">
  <div class="row row-body">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Imagen y Nombre</h5>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <img src="../../../assets/image-unknow.jpeg" class="img-fluid image">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <br>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <span class="ui-float-label">
                    <input class="full-input" id="float-input-name" type="text" pInputText>
                    <label for="float-input-name">Nombre</label>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dirección</h5>
            <br>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <span class="ui-float-label">
                  <input class="full-input" id="float-input-name" type="text" pInputText>
                  <label for="float-input-tipo">Nombre</label>
                </span>
              </div>
            </div>
            <div class="row row-padding">
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 field-padding">
                <span class="ui-float-label">
                  <input class="full-input" id="float-input-post-code" type="text" pInputText>
                  <label for="float-input-tipo">Código Postal</label>
                </span>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 field-padding">
                <span class="ui-float-label">
                  <input class="full-input" id="float-input-province" type="text" pInputText>
                  <label for="float-input-tipo">Provincia</label>
                </span>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 field-padding">
                <span class="ui-float-label">
                  <input class="full-input" id="float-input-locality" type="text" pInputText>
                  <label for="float-input-tipo">Localidad</label>
                </span>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 field-padding">
                <span class="ui-float-label">
                  <input class="full-input" id="float-input-country" type="text" pInputText>
                  <label for="float-input-tipo">País</label>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-padding">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Contacto</h5>
            <div></div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <span class="ui-float-label">
                  <input class="full-input" id="float-input-web" type="text" pInputText>
                  <label for="float-input-tipo">Página Web</label>
                </span>
              </div>
            </div>
            <div class="row field-padding">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h5>Teléfonos</h5>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <button (click)="phones.push('')" pButton type="button" label="Añadir teléfono" class="ui-button-rounded button-tittle align-top"></button>
                  </div>
                </div>
                <div class="row-padding">
                  <div *ngFor="let phone of phones" class="ui-inputgroup row-padding">
                    <input type="text" pInputText placeholder="Teléfono" class="full-input">
                    <button pButton type="button" icon="fa fa-trash" class="ui-button-danger" (click)="removePhone(phone)">
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h5>Emails</h5>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <button (click)="emails.push('')" pButton type="button" label="Añadir email" class="ui-button-rounded align-top button-tittle"></button>
                  </div>
                </div>
                <div class="row-padding">
                  <div *ngFor="let email of emails" class="ui-inputgroup row-padding">
                    <input type="text" pInputText placeholder="Email" class="full-input">
                    <button pButton type="button" icon="fa fa-trash" class="ui-button-danger" (click)="removeEmail(email)">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-body">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sobre Nosotros</h5>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-body">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Fotos</h5>
          <p-fileUpload name="demo[]" chooseLabel="Seleccionar" [showUploadButton]="false" [showCancelButton]="false" (onUpload)="onUpload($event)" multiple="multiple" accept="image/*" maxFileSize="1000000">
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
    </div>
  </div>
</div>