<div class="content">
  <div class="row row-body">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Datos</h5>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <img src="../../../assets/image-unknow.jpeg" alt="">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <br>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>